/* src/variables.css */
:root {
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f0f0f0;
  --color-neutral-200: #e0e0e0;
  --color-neutral-300: #d1d1d1;
  --color-neutral-400: #c1c1c1;
  --color-neutral-500: #989898;
  --color-neutral-600: #727272;
  --color-neutral-700: #4c4c4c;
  --color-neutral-800: #262626;
  --color-neutral-900: #131313;

  --color-primary-50: #ffeee5;
  --color-primary-100: #ffceb2;
  --color-primary-200: #ffad7f;
  --color-primary-300: #ff8c4c;
  --color-primary-400: #ff6c19;
  --color-primary-500: #FF5C00;
  --color-primary-600: #e55200;
  --color-primary-700: #b24000;
  --color-primary-800: #662400;
  --color-primary-900: #331200;

  --color-secondary-50: #ecf5f7;
  --color-secondary-100: #c8e1e9;
  --color-secondary-200: #b5d7e2;
  --color-secondary-300: #91c3d3;
  --color-secondary-400: #6cafc5;
  --color-secondary-500: #489cb7;
  --color-secondary-600: #397c92;
  --color-secondary-700: #2b5d6d;
  --color-secondary-800: #1c3e49;
  --color-secondary-900: #0e1f24;

  --color-success-50: #ECFDF5;
  --color-success-100: #D1FAE5;
  --color-success-200: #A7F3D0;
  --color-success-300: #6EE7B7;
  --color-success-400: #34D399;
  --color-success-500: #10B981;
  --color-success-600: #059669;
  --color-success-700: #047857;
  --color-success-800: #065F46;
  --color-success-900: #064E3B;

  --color-warning-50: #FFFBEB;
  --color-warning-100: #FEF3C7;
  --color-warning-200: #FDE68A;
  --color-warning-300: #FCD34D;
  --color-warning-400: #FBBF24;
  --color-warning-500: #F59E0B;
  --color-warning-600: #D97706;
  --color-warning-700: #996d00;
  --color-warning-800: #7f5b00;
  --color-warning-900: #664800;

  --color-error-50: #FEF2F2;
  --color-error-100: #FEE2E2;
  --color-error-200: #FECACA;
  --color-error-300: #FCA5A5;
  --color-error-400: #F87171;
  --color-error-500: #EF4444;
  --color-error-600: #DC2626;
  --color-error-700: #B91C1C;
  --color-error-800: #991B1B;
  --color-error-900: #7F1D1D;

  --color-shades-0: #FFFFFF;
  --color-shades-100: #000000;

  --color-darkmode-50: #383838;
  --color-darkmode-100: #353535;
  --color-darkmode-200: #333333;
  --color-darkmode-300: #2F2F2F;
  --color-darkmode-400: #2C2C2C;
  --color-darkmode-500: #272727;
  --color-darkmode-600: #252525;
  --color-darkmode-700: #232323;
  --color-darkmode-800: #1E1E1E;
  --color-darkmode-900: #121212;
}

.radix-themes {
  /* Typography */
  --default-font-family: 'Roboto';
  --heading-font-family: 'Roboto';
  --quote-font-family: 'Roboto';

  /* Colors */
  --orange-1: var(--color-primary-50);
  --orange-4: var(--color-primary-100);
  --orange-6: var(--color-primary-200);
  --orange-7: var(--color-primary-300);
  --orange-8: var(--color-primary-400);
  --orange-9: var(--color-primary-500);
  --orange-10: var(--color-primary-600);
  --orange-11: var(--color-primary-700);
  --orange-12: var(--color-primary-800);

  --orange-a1: var(--color-primary-700);
  --orange-a4: var(--color-primary-400);
  --orange-a6: var(--color-primary-200);
  --orange-a7: var(--color-primary-100);
  --orange-a8: var(--color-primary-50);
  --orange-a9: var(--color-primary-100);
  --orange-a10: var(--color-primary-200);
  --orange-a11: var(--color-primary-300);
  --orange-a12: var(--color-primary-400);

  --orange-contrast: #fff;
  --orange-surface: #fff3eccc;
  --orange-indicator: #ff5c00;
  --orange-track: #ff5c00;
}
